xterm*termName: xterm-256-color

xterm*faceName: Comic Code
xterm*faceSize: 12

xterm*dynamicColors: true
xterm*background: black
xterm*foreground: white

xterm.vt100.translations: #override \n\
Ctrl Alt <Key>-: smaller-vt-font() \n\
Ctrl Alt <Key>+: larger-vt-font() \n\
Ctrl Alt <Key>0: set-vt-font(d) \n\
Ctrl Alt <Key>c: copy-selection(CLIPBOARD) \n\
Ctrl Alt <Key>v: insert-selection(CLIPBOARD)
